{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Planta Sena</title>
</head>
<body>
    <p>Bienvenido a la planta del Sena</p>
    <img src="{% static 'planta/img/Planta.jpeg' %}" alt="">
    <script src="{% static 'planta/js/libreria.js' %}"></script>
    <link rel="stylesheet" href="{% static 'planta/css/estilos.css' %}">

</body>
</html>