<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Bienvenido</h2>
    <div>
        <form action="{% url 'planta:login' %}" method="post">
            {% csrf_token %}
            <label for="usuario">Usuario</label>
            <input id="usuario" type="text" name="user"><br>
            <label for="contraseña">Contraseña</label>
            <input id="contraseña" type="password" name="pswd"><br>
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>