{% extends "planta/base.html" %}
{% load static %}      

{% block titulo %} Listado de trabajadores {% endblock %}
{% block subtitulo %} Trabajadores {% endblock %}
{% block contenedor %}
<h1> Trabajador </h1>

<a class="btn btn-warning" href="{% url 'planta:formularioTrabajador' %}">Agregar</a>
<br>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if datos %}

    <table class="table table-dark table-striped ">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
            </tr>
        </thead>

        <tbody>
            {% for t in datos %}
            <tr>
                <td>{{ t.id }}</td>
                <td>{{ t.nombre }}</td>
                <td>{{ t.apellido }}</td>
                <td>{{ t.cedula }}</td>
                <td>{{ t.correo }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% else %}
    Ta malo mi rey
{% endif %}

{% endblock %}